/* ---- ESTILO 1: MODERNO Y MINIMALISTA ---- */
/* Colores principales */
:root {
    --primary-color: #4A90E2;  /* Azul claro */
    --secondary-color: #FFC107; /* Amarillo */
    --background-color: #F4F7F6; /* Gris claro */
    --text-color: #333;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0px 15px;
    color: white;
}

.nav-left a, .nav-right a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    margin-left: 20px;
    transition: background-color 0.3s ease-in-out;
}

.nav-left a:hover, .nav-right a:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.nav-center h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

button.dropbtn {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.dropbtn:hover{
    background-color: #e0a800;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 8px;
    padding: 10px 0;
}

.dropdown-content a {
    color: var(--primary-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #f1f1f1;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
}